@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Epilogue:ital,wght@1,200&family=Fuggles&family=Inter:wght@100&family=Lato:ital,wght@0,300;1,300&family=Lobster&family=Martian+Mono:wght@300;400&family=Mooli&family=Onest:wght@100&family=Poppins:wght@200&family=Protest+Revolution&family=Protest+Riot&family=Roboto:wght@400;500;700&family=Rubik&family=Young+Serif&display=swap');

.HomePage {
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/try-for-free-banner_desktop.png); */
    background: linear-gradient(90deg, rgba(13,66,144,1) 36%, rgba(0,30,108,1) 71%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img {
    position: absolute;
    bottom: 10px;
    left: 100px;
}
.shape-img{
    width: 600px;
}

.home-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.homeLeft {
    width: 100%;
    color: white;
    left: -220px;
}

.homeMainImg {
    max-width: 60%;
    height: auto;
}


.checkNowBtn{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ABD291;
    color: white;
    cursor: pointer;
    
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}