
.spellingCorrectorPage {
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/2.jpg); */
    background-color: #999999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .bg-img-corrector{
    width: 100%;
    height: 100%;
    background-image: url(../images/flat-lay-workstation-with-copy-space-notepads_23-2148430862.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* filter: blur(8px);
    -webkit-filter: blur(3px); */

/* } */
.line {
    width: 100%;
    height: 20vh;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1d1d1d;
}

.spelling-checker-box {
    width: 500px;
    height: 500px;
    color: #fff;
}

.textInput {
    width: 600px;
    height: 300px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-style: italic;
}

.checkBtn {
    width: 100px;
    height: 30px;
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.corrected-text{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.correctTxtImg{
    margin-left: 40px;
    margin-top: 50px;
}