
.spellingCorrectorPage {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.textInput {
    width: 600px;
    height: 150px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-style: italic;
}

.checkBtn {
    width: 100px;
    height: 30px;
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.corrected-text{
    width: 600px;
    height: 120px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.correctTxtImg{
    margin-left: 180px;
}

.loadingGif{
    position: absolute;
}